
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src= "https://www.nyfa.edu/film-school-blog/wp-content/uploads/2015/01/THEATERF1ONRF-00006562-0011.jpg" width="200" height="200">
      <div class="caption">
        <h3>Movies!</h3>
        <p>My favorite hobbie is going to the movies with friends.</p>
        <p><a href="#" class="btn btn-primary" role="button">Movies</a></p>
      </div>
    </div>
    </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src= "http://72point.com/wp-content/uploads/2015/04/family.jpg" width="200" height="200">
      <div class="caption">
        <h3>Family</h3>
        <p>I also love spending time with family and going out to dinner.</p>
        <p><a href="#" class="btn btn-primary" role="button">Family</a></p>
      </div>
    </div>
    </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src= "http://il2.picdn.net/shutterstock/videos/3116566/thumb/1.jpg" width="200" height="200">
      <div class="caption">
        <h3>Painting</h3>
        <p>My most favorite hobby ever is painting and sketching things.</p>
        <p><a href="#" class="btn btn-primary" role="button">Painting</a></p>
      </div>
    </div>
    </div>
  
</div>

   <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src= "https://c2.staticflickr.com/8/7002/6775896387_70c282bdb8_b.jpg" width="200" height="200">
      <div class="caption">
        <h3>Drawing</h3>
        <p>I like drawing on my free time and I like to sketch animals and cartoons.</p>
        <p><a href="#" class="btn btn-primary" role="button">sketch</a></p>
      </div>
    </div>
    </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src= "https://static.pexels.com/photos/1842/nature-photography-analog-camera-canon.jpg" width="200" height="200">
      <div class="caption">
        <h3>Photography</h3>
        <p>I like taking photos of nature and anything I find fantasizing.</p>
        <p><a href="#" class="btn btn-primary" role="button">Photo</a></p>
      </div>
    </div>
    </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src= "https://pixabay.com/static/uploads/photo/2015/05/31/11/27/earphones-791188_960_720.jpg" width="200" height="200">
      <div class="caption">
        <h3>Listening to music</h3>
        <p>I love hearing music everyday. I like listening to classic rock and pop music.</p>
        <p><a href="#" class="btn btn-primary" role="button">Music</a></p>
      </div>
    </div>
    </div>
  
</div>
     
  
    
