
      <br>
      <br>
        

          <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class="container">
    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="http://www.fireflyexperience.org/image3.jpg" alt="Profile image example" width="800" height="300"/>
        <img align="left" class="fb-image-profile thumbnail" src="http://www.clipartbest.com/cliparts/yik/gqp/yikgqprkT.png" alt="Profile image example" width="200" height="200"/>
        <div class="fb-profile-text">
            <h1>Anahi Estrada</h1>
            <p>I am certified in Photoshop, and currently working to be certified in HTML. I am a junior at Mather High School</p>
        </div>
    </div>
</div> 
<div class="row">
<div class="col-sm-6 col-md-4">
    <div class="container">
        <blockquote class="quote-box">
          <p class="quotation-mark">
            “
          </p>
          <p class="quote-text">
             That's Scarzy!
          </p>
          <hr>
          <div class="blog-post-actions">
            <p class="blog-post-bottom pull-left">
              Anahi Estrada
            </p>
            <p class="blog-post-bottom pull-right">
              <span class="badge quote-badge">1</span>  ❤
            </p>
          </div>
        </blockquote>
    </div>
</div>

 <div class="col-sm-6 col-md-4">
    <div class="container">
        <blockquote class="quote-box">
          <p class="quotation-mark">
            “
          </p>
          <p class="quote-text">
            We must live by FAITH, not fear.
          </p>
          <hr>
          <div class="blog-post-actions">
            <p class="blog-post-bottom pull-left">
             Quentin L. Cook
            </p>
            <p class="blog-post-bottom pull-right">
              <span class="badge quote-badge">1</span>  ❤
            </p>
          </div>
        </blockquote>
    </div>
  </div>      

<div class="col-sm-6 col-md-4">
    <div class="container">
        <blockquote class="quote-box">
          <p class="quotation-mark">
            “
          </p>
          <p class="quote-text">
             We know what we are, but not know what we may be.
          </p>
          <hr>
          <div class="blog-post-actions">
            <p class="blog-post-bottom pull-left">
              William Shakespeare
            </p>
            <p class="blog-post-bottom pull-right">
              <span class="badge quote-badge">1</span>  ❤
            </p>
          </div>
        </blockquote>
    </div>
  </div>      

</div>